* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-spacing: 3.5px;
	font-family: Roboto, sans-serif;
}
/* css về thanh menu của trang */
.header {
	width: 100%;
	position: fixed;
	z-index: 100;
	background-image: linear-gradient(rgb(72, 110, 98), rgb(0, 19, 11));
	/* opacity: 90%; */
	display: flex;
	
}
.header-center{
	flex: 1;
	display: flex;
	justify-content: end;
}
.list li {
	position: relative;
}
.header-center .list .list-menu {
	list-style: none;
	width: 230px;
	background-color: #23252a;
	position: absolute;
	display: none;
}
.header-center .list li:hover .list-menu {
	display: block;
}
.list-menu a {
	border-bottom: 0.5px solid #fff;
}
.list-menu li:last-child a {
	border: none;
}
.header-left {
	padding-left: 5%;
	padding: 30px;
}
.header-left a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
}
.header-left img{
	border-radius: 50%;

}
.header-center {
	width: 100%;
}
.list {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 20px;
}
.list-item {
	display: block;
	text-decoration: none;
	padding: 20px;
	padding-right: 30px;
	color: white;
}
a.list-item:hover,
a.list-item:active {
	text-decoration: underline;
}
.logout{
	display: none;
	background: none;
	padding: 20px;
}
.logoutbtn{
	background: none;
	border: none;
	color: white;
	cursor: pointer;
}
.header .header-center .logout-active{
	display: block;
}
.khoangtrong{
    width: 100%;
    height: 87px;
}
.maincontent{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    
}
.gridtintuc{
	width: 70%;
	flex: 2;
	min-width: 350px;
}
.news{
    width: 25%;
	height: fit-content;
    min-height: 300px;
    border: 1px solid rgb(80, 67, 67);
	min-width: 300px;
	max-width: 400px;
	flex: 1;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-right: 20px;

}
.news span{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.news img{
    height: 20px;
    width: 20px;
}


.tintuccontainer{
    margin-left: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.tintuc{
    border: 1px solid black;
    height:320px;
	min-width: 200px;
}
.linktintuc{
	text-decoration: none;
	color: black;
}
.linktintuc img{
    width: 100%;
    height: auto;
}
.linktintuc .imgdiv{
    width: 100%;
    height:250px;
    overflow: hidden;
    border: 1px solid gray;
}
.linktintuc:hover{
	color: blue;
}
h4{
    padding: 10px;
	background-color: darkolivegreen;
	color: #fff;
}
.news p{
	padding: 10px;
	background-color: rgb(151, 197, 104);
	border-bottom:1px solid gray ;
}
.kqtk{
	display:none;
}
.news .Active{
	display: block;
}
.news p:hover{
	cursor: pointer;
	color: blue;
}
h5{
    padding: 10px;
}
.searchinput{
	width: 80%;
	height: 20px;
}
.search{
    border: none;
	cursor: pointer;
}
/* .newcontent img{
    width: 60%;
    align-self: center;
    margin: 20px;

} */
.page-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -10px;
	margin-top: 50px;
  }
  
  .page-container span {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid grey;
	display: flex;
	align-items: center;
	justify-content: center;
	color: grey;
	cursor: pointer;
	margin-left: 10px;
  }
  .page-container .button-active {
	border: 1px solid transparent;
	color: white;
	background-color: springgreen;
  }
 @media only screen and (max-width: 1200px) {
.gridtintuc .tintuccontainer {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
 @media only screen and (max-width: 950px) {
	.gridtintuc .tintuccontainer {
		  grid-template-columns: repeat(1, 1fr);
		}
	  }
/* css phần end kết nối */
.contact-text {
	background-image: url(http://mauweb.monamedia.net/brentwood/wp-content/uploads/2019/09/footer-bg-1.jpg);
	background-size: cover;
	
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
	left: 30%;

}
.contact-text h5 {
	font-size: 45px;
	padding-bottom: 25px;
}
.contact-text p {
	font-size: 22px;
}
.contact-menu{
	align-content: center;
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin: 50px  auto;
	font-size: 50px;
}
.link{
	color: black;
	text-shadow: 5px 5px 4px #1a0d4c;
}
.link:hover{
	padding-top: 15px;
	color: #212f85;
}
@media only screen and (max-width: 800px) {
	main{
		padding-top: 40px;
	}
	.header{
		display: flex;
		justify-content: space-between;
	}
	.header .header-left{
		width: 50%;
	}
	.header .header-center{
		position: fixed;
		top: 100px;
		right: 0;
		display: none;
		width: 50%;
	}
	.header .header-center .list-menu{
		position: static;
	}
	.header .header-center .list{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0;
	}
	.header .header-center .list li{
		width: 100%;
		background-image: linear-gradient(rgb(88, 134, 120), rgb(64, 102, 86));
	}
	.header .menucol{
		display: block;
		width: 50px;
		background-color: none;
		text-align: end;
		cursor: pointer;	
	}
	.d{
		width: 30px;
		height: 5px;
		margin: 6px 0;
		background-color: #fff;
	}
	
	.header .options-active {
		display: block;
	}
	.maincontent{
		padding:5px;
	}
}
.menucol{
	display: none;
	border: none;
	background: none;
		
}
.gridtintuc .imgcontent{
	width:100%;
	height:auto;
}
