* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-spacing: 3.5px;
	font-family: Roboto, sans-serif;
}
/* css về thanh menu của trang */
.header {
	width: 100%;
	position: fixed;
	z-index: 100;
	background-image: linear-gradient(rgb(72, 110, 98), rgb(0, 19, 11));
	/* opacity: 90%; */
	display: grid;
	grid-template-columns: auto auto auto;
}
.list li {
	position: relative;
}
.header-center .list .list-menu {
	list-style: none;
	width: 230px;
	background-color: #23252a;
	position: absolute;
	display: none;
}
.header-center .list li:hover .list-menu {
	display: block;
}
.list-menu a {
	border-bottom: 0.5px solid #fff;
}
.list-menu li:last-child a {
	border: none;
}
.header-left {
	margin-left: 40px;
	padding: 30px;
}
.header-center {
	width: 100%;
}
.list {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 20px;
}
.list-item {
	display: block;
	text-decoration: none;
	padding: 20px;
	padding-right: 30px;
	color: white;
}
a.list-item:hover,
a.list-item:active {
	text-decoration: underline;
}
/* css ảnh tiêu đề */
.img-title {
	padding-top: 98px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* css nội dung title đầu tiên */
.title-conten {
	padding-top: 50px;
	width: 80%;
	margin: 0 auto;
}
.title-conten h2 {
	padding-bottom: 50px;
	font-size: 30px;
	text-align: center;
	color: #212f85;
}
.title-conten p {
	padding: 5px;
}
/* css phần intro trang chủ */
#slideshow {
	width: 1519px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 70px;
}
.slides {
	width: 4557px;
	position: relative;
	animation: slide 15s ease-in-out infinite;
}
.slides img {
	width: 1519px;
	height: 650px;
	float: left;
}
/* .slides:hover {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
} */
@keyframes slide {
	0% {
		left: 0;
	}
	25% {
		left: -1519px;
	}
	50% {
		left: -3038px;
	}
	100% {
		left: 0;
	}
}
.slides-text1 {
	position: absolute;
	top: 250px;
	left: 400px;
	color: white;
	opacity: 70%;
	font-family: Roboto, sans-serif;
}
.slides-text1 p {
	font-size: 40px;
}
.slides-text1 h3 {
	font-size: 60px;
	text-align: center;
}
.slides-text2 {
	position: absolute;
	top: 400px;
	left: 52%;
	color: white;
	opacity: 80%;
	font-family: Roboto, sans-serif;
}
.slides-text2 p {
	font-size: 50px;
	text-align: end;
}
.slides-text3 {
	position: absolute;
	top: 400px;
	left: 85%;
	color: white;
	opacity: 90%;
	font-family: Roboto, sans-serif;
}
.slides-text3 p {
	font-size: 60px;
	text-align: center;
}
/* css phần giới thiệu trang chủ */

@keyframes mymove {
	from {
		left: -100px;
	}
	to {
		left: 0px;
	}
}
.introduce {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	padding: 60px;
	position: relative;
	animation: mymove 5s;
	animation-fill-mode: forwards;
}
.introduce-conten {
    width: 50%;
	margin-right: 50px;
	line-height: 20px;
	min-width: 400px;
	margin-bottom: 20px;
	flex: 1;
}
.introduce-img{
	width: 40%;
	min-width: 400px;
	flex: 1;
}
.introduce-conten h2 {
	color: #212f85;
}

.introduce-btn {
	padding: 10px 40px 10px 40px;
	margin-top: 60px;
	font-size: 17px;
	background-color: black;
	color: white;
	cursor: pointer;
}
/* css về hlv trang chủ */
.introduce-bottom {
	width:100%;
	background-image: url(https://worcesternightlife.org/wp-content/uploads/2018/12/qtq80-ZvwJcb.jpeg);
	background-size:cover;
}
.introduce-bottom-text {

	color: white;
	text-align: center;
	padding: 100px;
	font-weight: bold;
		/* position: absolute;
	top: 1535px;
	left: 200px; */
}
.introduce-bottom-text h5 {
	font-size: 50px;
	padding-bottom: 20px;
}
.introduce-bottom-text p {
	font-size: 20px;
	padding-bottom: 60px;
}
.introduce-bottom-text a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	border: 1px solid white;
}
.introduce-bottom a:hover {
	background-color: white;
	color: #23252a;
}
/* css giới thiệu chi tiết mn Golf */
.menu {
	padding: 50px;
}
.menu h2 {
	color: #212f85;
	width: fit-content;
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
	border-bottom: 2px solid black;
}
.menu-block{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.mb{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top:50px ;
	justify-content: space-between;
    
}
.menu-block-conten{
	width: 45%;
	min-width: 350px;
	margin-right: 20px;
	flex: 1;
}
.menu-block-img{
	width: 45%;
	min-width:400px;
	margin-right: 20px;
	flex: 1;
}
.menu-block-img img{
	width: 100%;
	height: auto;
}


/* css giới thiệu đk học viên */
.container {
	background-color: #e2dede;
	padding: 50px;
}
.container h2 {
	color: #212f85;
	width: fit-content;
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
	border-bottom: 2px solid black;
}
.container-end {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.container-end .container-end-img{
	width: 60%;
	min-width: 400px;
	margin-right: 20px;
	flex: 2;
}
.container-end-contten {
	width: 35%;
	min-width: 350px;
	flex: 1;
}
.container-end-contten .xemthembtn {

	margin: 50px auto;
	font-size: 20px;
	width: fit-content;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
    display: block;
	align-items: center;
	background-color: rgb(36, 35, 35);
	text-decoration: none;
}
.container-end-contten a:hover button {
	background-color: #212f85;
}
/* css phần end kết nối */
.contact-text {
	background-image: url(http://mauweb.monamedia.net/brentwood/wp-content/uploads/2019/09/footer-bg-1.jpg);
	background-size: cover;
	
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
	left: 30%;

}
.contact-text h5 {
	font-size: 45px;
	padding-bottom: 25px;
}
.contact-text p {
	font-size: 22px;
}
.contact-menu{
	align-content: center;
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin: 50px  auto;
	font-size: 50px;
}
.link{
	color: black;
	text-shadow: 5px 5px 4px #1a0d4c;
}
.link:hover{
	padding-top: 15px;
	color: #212f85;
}
@media only screen and (max-width: 800px) {
.header{
	grid-template-columns: auto auto;
}
.header .header-left{
	width: 50%;
}
.header .header-center{
	position: fixed;
    top: 100px;
    right: 0;
	display: none;
	width: 50%;
}
.header .header-center .list-menu{
	position: static;
}
.header .header-center .list{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0;
}
.header .header-center .list li{
	width: 100%;
	background-image: linear-gradient(rgb(88, 134, 120), rgb(64, 102, 86));
}
.header .menucol{
	display: block;
	width: 100%;
	color: white;
	text-align: center;
	cursor: pointer;
}
.header .options-active {
    display: block;
}}
.menucol{
	display: none;
	border: none;
    background: none;
	
}
